<div>
  <h2>About Me</h2>
  <p>Driven, self-motivated software development professional with over 15 years of IT industry experience in academia, e-commerce, enterprise and healthcare spaces. Geographically located near Akron, OH, but open to remote work for any location.</p>
  <p>Specialized in full stack development for web and mobile applications. Skills include but not limited to: Android SDK, Angular, AWS, HTML5/CSS3, iOS SDK, Java EE, JavaScript, Node.js, PhoneGap, React Native, RESTful APIs, SQL.</p>
</div>
