<div>
  <h2>Experience</h2>
  <mat-card class="content-card">
    <h3>Arcadia Healthcare Solutions</h3>
    <div>
      <h4>Engineering Manager</h4>
      <p>June 2021 - present</p>
    </div>
    <div>
      <h4>Software Engineer</h4>
      <p>September 2020 - June 2021</p>
    </div>
  </mat-card>
  <mat-card class="content-card">
    <h3>Matco Tools</h3>
    <div>
      <h4>Web Development Manager</h4>
      <p>April 2016 - September 2020</p>
    </div>
    <div>
      <h4>Senior Java Web Developer</h4>
      <p>November 2014 - April 2016</p>
    </div>
    <div>
      <h4>Java Web Developer II</h4>
      <p>August 2012 - November 2014</p>
    </div>
  </mat-card>
  <mat-card class="content-card">
    <h3>Notify Technology</h3>
    <div>
      <h4>Software Development Manager</h4>
      <p>August 2011 - August 2012</p>
    </div>
    <div>
      <h4>Software Engineer</h4>
      <p>January 2008 - August 2011</p>
    </div>
  </mat-card>
  <mat-card class="content-card">
    <h3>Youngstown State University</h3>
    <div>
      <h4>Research Assistant</h4>
      <p>August 2010 - August 2011</p>
    </div>
    <div>
      <h4>Student Software Specialist</h4>
      <p>January 2005 - April 2008</p>
    </div>
  </mat-card>
</div>
